@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  0% {
    transform: translateY(-100px); /* Дэлгэцийн дээд хэсгээс эхлэх */
  }
  100% {
    transform: translateY(100vh); /* Дэлгэцийн доод хэсэгт хүрэх */
  }
}

@keyframes sway {
  0% {
    transform: translateX(0); /* Хажуугийн хөдөлгөөн эхлэх байрлал */
  }
  50% {
    transform: translateX(20px); /* Хажуу тийш бага зэрэг хөдлөх */
  }
  100% {
    transform: translateX(0); /* Эхлэх байрлалд буцах */
  }
}

.snowfall-container .snowflake {
  animation: fall 10s linear infinite, sway 5s ease-in-out infinite; /* Доошоо буух ба хажуу тийш хөдлөх */
}
